#TituloPrincipal{
    padding: 40px;
}

#CrearBoton{
    padding-left: 400px;
}

#busquedacliente{
    padding: 5px;
}

#Tabla{
    padding: 20px;
}

#Pie{
    padding: 40px;
}

#TituloEliminar{
    text-align: center;
}