 .banner-1{
    width: 100%;
    height: 80px;
    background-image: url("/assets/imagenes/Encabezado.png");
    background-position: center;    
    background-size: cover;
}

#NomSTEP,#NomINICIO,#NomMODULO,#OpcionesNav{
    color: white;
} 

.logoStep{
    width: 10%;
    height: 10px;
    background-image: url("/src/assets/imagenes/STEP.JPG");
}

