<div class="container-fluid">
    <div id="TituloAgregarCliente" >
        <h2 class="container"><b>Nueva Dirección</b></h2>
    </div>
    <hr>
    <form>
        <div class="row mb-3">
            <label for="NombreCliente" class="col-sm-2 col-form-label" id="parametro">Dirección</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="NombreCliente">              
            </div>
        </div>
        <div class="row mb-3">
            <label for="ContactoCliente" class="col-sm-2 col-form-label">Cuidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ContactoCliente">
            </div>
        </div>
        <div class="row mb-3">
            <label for="TelefonoCliente" class="col-sm-2 col-form-label">Pais</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="TelefonoCliente">
            </div>
        </div>                
        <div class="button me-2"> 
            <button type="submit" class="btn btn-primary me-2" style="margin-bottom: 40px;" id="registrar">Registrar</button>
            <a href="cliente/actualizar" class=" btn btn-danger me-2" style="margin-bottom: 40px;" id="cerrar">Cancelar</a>
        </div>
    </form>
</div>
 
