<div class="container-fluid">
    <div class="container text-center">
        <div class="row" id="titulo">
            <h2>¡Bienvenido!</h2>
        </div>
        <div class="row row-cols 3">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="card-img-top custom-card-img" id="Usuarios"style="width: 15rem;">
                    <img src="/assets/imagenes/users.jpg" class="card-img-top" alt="Usuarios">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <a href="usuario" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="card-img-top custom-card-img" id="Clientes" style="width: 15rem;">
                    <img src="/assets/imagenes/retener_clientes.jpg" class="card-img-top" alt="Clientes">
                    <div class="card-body">
                        <h5 class="card-title">Clientes</h5>
                        <a href="cliente" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="card-img-top custom-card-img" id="Proyectos" style="width: 15rem;">
                    <img src="/assets/imagenes/proyectos.png" class="card-img-top" alt="Proyectos">
                    <div class="card-body">
                        <h5 class="card-title">Proyectos</h5>
                        <a href="proyecto" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="card-img-top custom-card-img" id="Recursos" style="width: 15rem;">
                    <img src="/assets/imagenes/recursos.jfif" class="card-img-top" alt="Recursos">
                    <div class="card-body">
                        <h5 class="card-title">Recursos</h5>
                        <a href="recurso" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="card-img-top" id="Actividades" style="width: 15rem;">
                    <img src="/assets/imagenes/actividades.png" class="card-img-top" alt="Actividades">
                    <div class="card-body">
                        <h5 class="card-title">Actividades</h5>
                        <a href="actividad" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
